body{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



.bg-hex-azul {
    background-color: #10316b;
    background-image: linear-gradient(to bottom, #0e2f68, #4ab7e2);
  }

.bg-hex-naranja {
    background-color: #fdbe34;
    background-image: linear-gradient(to right, #fcbb2e, #eece76);
    border-radius: 3px;
  }

.carousel {
  display: flex;
  width: 100%;
  padding-top: 14px;
}

.carousel img {
  flex: 0 0 auto;
  max-width: 100%;
  height: auto;
  margin-right: 10px;
}

.carousel-item{
  font-size: 17px;
}

.carousel-item h5{
  font-size: 23px;
}


.logo {
  flex: 0 0 auto;
  max-width: auto;
  height: auto;
}

.btn-card{
  float: right;
  margin-top: 20px;
}

.border-hex-naranja {
  border: 2px solid;
  border-color: #fdbe34;
}

.border-hex-negro {
  border: 2px solid;
  border-color: black
}

.pincel-tamaño{
  color: white;
  font-size: 25px;
  padding-top: 15px;
}


.subrayar {
  display: inline-block;
  border-bottom: 2px solid;
  border-color: #fdbe34;
  border-radius: 5px;
}

.arreglo_carrusel{
	margin-bottom: 100px;
}

.imagen_fondo{
  position:absolute;
  z-index: -1;
  left: 4%;
  margin-top: 50px;
  border-bottom: 2px solid;
  border-color: #fdbe34;
  border-bottom-right-radius: 10%;
}

.imagen_fondo-2{
  position:absolute;
  z-index: -1;
  right: 4%;
  margin-top: 50px;
  border-bottom: 2px solid;
  border-color: #fdbe34;
  border-bottom-left-radius: 10%;
 }

footer {
  margin-top: 3%;
  font-size: 14px;
  line-height: 1.4;
}

footer h4{
  font-size: 20px;
}

footer p{
  margin-bottom: 0.4em;
}

hr {
  margin-top: -20px;
}


.sign-in-log-in{
  font-size: 17px;
}

@media (max-width: 1360px) {

.imagen_fondo{
  display: none;
}

.imagen_fondo-2{
  display: none;
 }
}