.bg-hex-azul {
    background-color: #10316b;
    background-image: linear-gradient(to bottom, #10316b, #42b4e0);
  }

.bg-hex-naranja {
    background-color: #fdbe34;
    background-image: linear-gradient(to right, #fdbe34, #eecb6a);
    border-radius: 3px;
  }

.carousel {
    padding: 20px;
  } 

.img-carousel{
    max-width: 960px;
    max-height: 540px;
}

.btn-card{
  float: right;
  
}

.border-hex-naranja {
  border: 2px solid;
  border-color: #fdbe34;
}

.pincel-tamaño{
  color: white;
  font-size: 25px;
}

.animacion {
  animation: gradient 2s ease infinite;
}

@keyframes gradient {
  0% {
    background-color: #fdbe34;
  }
  50% {
    background-color: #e4ac33;
  }
  100% {
    background-color: #eecb6a;
  }
}
