
.bg-hex-azul {
    background-color: #10316b;
    background-image: linear-gradient(to bottom, #0e2f68, #4ab7e2);
  }

.bg-hex-naranja {
    background-color: #fdbe34;
    background-image: linear-gradient(to right, #fcbb2e, #eece76);
    border-radius: 3px;
  }

.carousel {
    padding: 20px;
  } 

.img-carousel{
    max-width: 960px;
    max-height: 540px;
}

.btn-card{
  float: right;
  margin-top: 20px;
}

.border-hex-naranja {
  border: 2px solid;
  border-color: #fdbe34;
}

.pincel-tamaño{
  color: white;
  font-size: 25px;
}


.imagen_fondo{
  position:absolute;
  z-index: -1;
  left: 4%;
  border-bottom: 2px solid;
  border-color: #fdbe34;
  border-bottom-right-radius: 10%;
}

.imagen_fondo-2{
  position:absolute;
  z-index: -1;
  border-bottom: 2px solid;
  border-color: #fdbe34;
  border-bottom-left-radius: 10%;
}

.subrayar {
  display: inline-block;
  border-bottom: 2px solid;
  border-color: #fdbe34;
  border-radius: 5px;
  margin-left: 40%;
}
